{% extends "equities/layout.html" %}
{% load static from staticfiles %}

{% block title %} Compare Stocks {% endblock %}


{% block content %}
	<div id="data_input_box">
		<form action='' method='POST'>
			<div id='compare_selector'>
				{{form.as_p}}
			<input type='submit' class='submit'>
			</div>
			{% csrf_token %}
		</form>
	</div>

<div>
{% if stock_list %}
<div id=chart_container>
    <canvas id="line-chart"></canvas>
</div>

<script>
let stock_1 = {};
let stock_2 = {};
let stock_3 = {};
let stock_4 = {};
let stock_5 = {};

let comparables = {stock_1,stock_2,stock_3,stock_4,stock_5};

let stock_list = [];

let dates = [];
let prices = [];

{% for item in stock_list %}
	stock_list.push('{{item}}');
{% endfor %}


{% for item in stock_1 %}
	dates.push('{{item.tran_date}}');
	prices.push('{{item.price_close}}');
{% endfor %}

stock_1.ticker = stock_list[0];
stock_1.dates = dates;
stock_1.prices = prices;

dates = [];
prices = [];

{% for item in stock_2 %}
	dates.push('{{item.tran_date}}');
	prices.push('{{item.price_close}}');
{% endfor %}

stock_2.ticker = stock_list[1];
stock_2.dates = dates;
stock_2.prices = prices;

dates = [];
prices = [];

{% for item in stock_3 %}
	dates.push('{{item.tran_date}}');
	prices.push('{{item.price_close}}');
{% endfor %}

stock_3.ticker = stock_list[2];
stock_3.dates = dates;
stock_3.prices = prices;

dates = [];
prices = [];

{% for item in stock_4 %}
	dates.push('{{item.tran_date}}');
	prices.push('{{item.price_close}}');
{% endfor %}

stock_4.ticker = stock_list[3];
stock_4.dates = dates;
stock_4.prices = prices;

dates = [];
prices = [];

{% for item in stock_5 %}
	dates.push('{{item.tran_date}}');
	prices.push('{{item.price_close}}');
{% endfor %}

stock_5.ticker = stock_list[4];
stock_5.dates = dates;
stock_5.prices = prices;


let chart_data = [];
const chart_colors = ["#3e95cd", "red", "green", "violet", "yellow"]
let color_counter = 0;
let initial_dates = [];
let included_stocks = [];

[1,2,3,4,5].forEach((key) => {
	key = 'stock_' + key.toString();
	let base = comparables[key].prices[0];
	let base_100 = [];
	comparables[key].prices.forEach((price) => {
		base_100.push(price*100/base);
	})
	comparables[key].base_100 = base_100;

	if (Boolean(comparables[key].ticker)) {
		chart_data.push({
			data: comparables[key].base_100,
			label: comparables[key].ticker,
			borderColor: chart_colors[color_counter],
			fill: false
		})
		color_counter += 1;
		initial_dates.push(comparables[key].dates[0]);
		included_stocks.push(comparables[key].ticker);
	}
})

if(initial_dates.every( (val, i, arr) => val === arr[0])) {   

	new Chart(document.getElementById("line-chart"), {
	  type: 'line',
	  data: {
	    labels: comparables.stock_1.dates,
	    datasets: chart_data,
	  },
	  options: {
	    responsive:true,
	    title: {
	      display: true,
	      text: 'Historical Closing Price'
	    },
	    elements: {
	        point: {
	            radius: 0
	        }
	    },
	    scales: {
	        xAxes: [{
	            ticks: {
	                maxTicksLimit: 7
	            }
	        }]
	    }
	  }
	});
}

else {
	let message = 'Initial starting dates of selected stocks must be the same. Initial dates of the selected stocks are the following:\n\n';
	let i = 0;
	initial_dates.forEach((item) => {
		let segment = included_stocks[i] + ' - ' + item.toString() + '\n';
		message += segment;
		i += 1; 
	})
	alert(message);
}

</script>

{% endif %}
<ul id="stock_list">
{% for stock in stocks %}
    <li> <b>{{ stock.ticker }}</b> - {{ stock.name }}</li>
{% endfor %}
</ul>
</div>

{% endblock %}

