* {
	box-sizing: border-box;
}


html, body {
	width: 100%;
	height: 100vh;
	margin: 0;
	font-family: sans-serif;
}


a{
	text-decoration: none;
	color:white;
}

button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

select{
	height:30px;
	font-size: 80%;
}

#date_selector {
	padding: 0px;
	margin: 0px 50px 0px 0px;
	float:left;
	width:30%;
	min-width: 300px;
}

#date_selector label {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	margin:3px 0px;
	font-size: 0.75em;
	float: left;
	width: 25%;
	min-width: 40px;
}

#date_selector input[type="text"] {
	display: inline-block;
	height: 30px;
	margin:3px 0px;
	float: left;
	width: 75%;
	font-size: 100%;
}

#date_selector select {
	margin:3px 0px;
	float: left;
	width: 25%;
}

#stock_list a{
	color: black;
}


#date_selector .submit {
	display: inline-block;
	margin: 20px 0px; 
	width: 100%;
	height: 40px;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
}




#records {
	float:left;
	width:60%;
	min-width: 300px;
	max-width: 600px;
}

#record_table {
	float:right;
	border-collapse: collapse;
	min-width: 300px;
	max-width: 600px;
	white-space: nowrap;
	transform-origin: top left;
}


.footer_nav {
	width: 100%;
	height: 100%;
	background: #343a40;
}

.burger {
	position: absolute;
	top: 7px;
	right: 7px;
}

.menu-icon {
	width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* Section Styles */


.main-nav {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color:#343a40;
}
.nav {
	display: flex;
	justify-content: space-around;
	font-weight: 700;
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;

}
.nav .name {
	margin-left:10px;
	margin-right: auto;
	color: white;
}

.nav {
	height:100%;
}
.nav li {
	font-size: 90%;
	color: white;
	padding: 10px 10px 10px 10px;
	margin-right: 	10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav a {
	color: white;
	transition: all .5s;
}
.nav a:hover {
	color: white
}

.tran_date,.price_open,.price_high,.price_low,.price_close,.volume{
	text-align: center; 
	vertical-align: middle;
}

.burger {
	display: none;
}

@media (max-width: 768px) {

	.nav {
		display: none;
	} 

	.nav li {
		margin: 0;
	} 

	.nav .name {
		margin: 0; 
	}

	#date_selector {
		width: 100%;
		max-width: 300px;
	}

	#records {
		float:none;
	}

	#record_table {
		float:none;
	}
	.volume {
		display: none;
	}

	.burger {
		display: block;
	}
}

@media (max-width: 640px) {
	#records {
		font-size: 0.8em;
	}


