<!doctype html>
<html>
{% load static from staticfiles %}
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    </head>
    <body>
        <div class="main_container">
            <div class="main-nav">
                <ul class="nav">
                  <li class="name"><a id="main_header" href="{% url 'home' %}">Philippine Financial Data</a></li>
                  <li><a id="stock_list" href="{% url 'equities:stock_list' %}">Stock Select</a></li>
                  <li><a id="price_data" href="{% url 'equities:price_data' %}">Historical Data</a></li>
                </ul>
            </div>
            <div class="content-container">
                {% block content %}{% endblock %}
            </div>
            <div class="footer_nav">
            </div>
        </div>
    </body>
    <footer>
    </footer>
    <div class='burger' onclick="document.getElementsByClassName('nav')[0].classList.toggle('toggle_nav');">
        <div class='menu-icon'></div>
        <div class='menu-icon'></div>
        <div class='menu-icon'></div>
    </div>
</html>