* {
	box-sizing: border-box;
}


html, body {
	width: 100%;
	height: 100vh;
	margin: 0;
	font-family: sans-serif;
}

h2 {
	margin: 12px;
}

a{
	text-decoration: none;
	color:white;
}

button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

select{
	height:30px;
	font-size: 80%;
}

#data_input_box {
	width:100%;
	min-width: 300px;
}

#date_selector {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#date_selector p {
	display: flex;
	width: 30%;
	margin: 0 1em;
}

#date_selector label {
	width: 25%;
	min-width: 40px;
}

#date_selector p * {
	flex-grow: 1;
}

#date_selector * {
	font-size: 1em;
	line-height: 2em;
	height: 2em;
}


/*#date_selector p {
	display: inline-block;
}

#date_selector label {
	height: 36px;
	line-height: 36px;
	font-size: 0.75em;
	float: left;
	width: 25%;
	min-width: 40px;
}

#date_selector input[type="text"] {
	display: inline-block;
	height: 36px;
	float: left;
	width: 75%;
	font-size: 100%;
}

#date_selector select {
	float: left;
	height: 36px;
	width: 25%;
}
*/
#stock_list{
	margin: 2em;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	color: black;
}

#stock_list * {
	width: 50%;
}

#chart_container {
	width: 80%;
	min-width: 600px;
}

#data_input_box .submit {
	display: inline-block;
	margin: 20px 0px; 
	width: 100%;
	height: 40px;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
}


#records {
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	min-width: 300px;
	max-width: 1200px;
}

#record_table {
	border-collapse: collapse;
	min-width: 300px;
	max-width: 600px;
	white-space: nowrap;
	transform-origin: top left;
}


.footer_nav {
	width: 100%;
	height: 100%;
	background: #343a40;
}

.burger {
	position: absolute;
	top: 7px;
	right: 7px;
}

.menu-icon {
	width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* Section Styles */


.main-nav {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color:#343a40;
}
.nav {
	display: flex;
	justify-content: space-around;
	font-weight: 700;
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;

}
.nav .name {
	margin-left:10px;
	margin-right: auto;
	color: white;
}

.nav {
	height:100%;
}
.nav li {
	font-size: 90%;
	color: white;
	padding: 10px 10px 10px 10px;
	margin-right: 	10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav a {
	color: white;
	transition: all .5s;
}
.nav a:hover {
	color: white
}

.tran_date,.price_open,.price_high,.price_low,.price_close,.volume{
	text-align: center; 
	vertical-align: middle;
}

.burger {
	display: none;
}

@media (max-width: 768px) {

	#date_selector {
		flex-direction: column;
	}

	#chart_container {
		align-self: flex-start;
	}

	#stock_list * {
		width: 100%;
	}

	#date_selector p {
		width: 90%;
	}

	.nav {
		display: none;
	} 

	.nav li {
		margin: 0;
	} 

	.nav .name {
		margin: 0; 
	}

	#records {
		float:none;
	}

	#record_table {
		float:none;
	}
	.volume {
		display: none;
	}

	.burger {
		display: block;
	}
}

@media (max-width: 640px) {
	#records {
		font-size: 0.8em;
	}


